.button {
	display: block;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.4;
	letter-spacing: .1em;
	padding: 0.5em 1em;
	min-width: 120px;
	text-align: center;
	border: solid black 1px;
	background-color: rgba(255, 255, 255, 0);
}

.button:hover{
	background-color: var(--color);
}

pre code {
	display: block;
	background: var(--ink);
	color: var(--paper);
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-size: 16px;
	line-height: 1.5em;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	max-height: 300px;

	padding: 10px;
}





