.button {
	min-width: 100px;
}

.button:hover {
	background-color: var(--highlight);
	height:28px;
	min-width: 122px;
	color: var(--paper);
	border: 0px;
	border-radius: 3px;
}


pre code {
	display: block;
	background: var(--ink);
	color: var(--paper);
	font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
	font-size: 16px;
	line-height: 1.5em;
	white-space: pre;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
	max-width: 100%;
	min-width: 100px;
	max-height: 300px;

	padding: 10px;
}


