.loud-voice {
    font-family: var(--primary-font);
    font-size: 3rem;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    color: var(--ink-light);


}

.attention-voice {
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.5em;
    text-transform: uppercase;
    font-style: italic;
}


.strong-voice {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 400;
    text-transform: uppercase;
    font-style: italic;
}

.medium-voice {
    font-family: var(--primary-font);
    font-size: 1.5rem;
    line-height: 1.5em;
    font-weight: 350;
    font-style: italic;

}

.calm-strong-voice {
    font-family: var(--secondary-font);
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 75ch;
    font-weight: 400;
    font-style: italic;
    color: var(--highlight)
    
}

.calm-nav-voice {
    font-family: var(--secondary-font);
    font-size: 1.3rem;
    line-height: 1.5em;
    max-width: 75ch;
    font-weight: 500;    
}

.calm-voice, p{
    font-family: var(--secondary-font);
    font-size: 1rem;
    line-height: 1.5em;
    max-width: 75ch;
    font-weight: 300;
    color: var(light-ink)
}

p + p {
	margin-top: 0.5em;
}

h1 + p {
    margin-top: 1em;
}

h2 + ul {
    margin-top: 0.5em;
}

p + h2{
    margin-top: 1.5em;
}

h2 + p {
    margin-top: 0.5em;
}



