@import "meyers-reset.css";
@import "setup.css";
@import "structure.css";


html {
    background-color: #B5E2FA;
    padding: 30px;
    }

body {
    background-color: antiquewhite;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
}

nav {
    padding:20px;
}

nav a {
    text-decoration: none;
    font-size: 1.5vw;
    color: grey;
    font-weight:200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 20px;
}

h1 {
    color: whitesmoke;
    min-height: 100px;
    text-align: center;
    font-size: 4vw;
    text-decoration: underline;
    font-family: chillax, Georgia, 'Times New Roman', Times, serif;
    background-color: orange;
    padding-top: 20px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: 2vw;
    font-weight: 100;
    color: dimgray;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px;
    font-weight: 100;
    color: dimgray;
    font-size: 1.5vw;

}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    color:grey;
    padding-left: 100px;
    padding-top: 50px;
    line-height: 30px;
    max-width: 80ch;
}

p+p {
    padding-top: 10px;
    padding-bottom: 10px;
}

li {
    color: grey;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 30px;
    padding-top: 30px;
    padding-bottom: 30px; 
}

.list {
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    text-align: center;
}

.list li {
    color: whitesmoke;
}

.list h3 {
    background-color: lightblue;
    color: dimgray;
}

.endofmonth {
    background-color: orange;
}

.endofmonth p {
    color: whitesmoke;
}

.endofmonth h2{
    background-color: lightblue;
}

.h2-tan{
    background-color: dimgray;
    color: whitesmoke;
}
