@import "meyers-reset.css";
@import "setup.css";
@import "structure.css";

html{
    background-color: #B5E2FA;
    padding: 30px;
    }

body{
    margin-left: auto;
    margin-right: auto;
    background-color: floralwhite;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 80px;
    font-weight: 200;
    color: black;
    padding: 20px;
    text-align: center;
    border-bottom: lightblue 5px solid;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 100;
    padding: 20px;
    color: gray;
}
h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    color: lightsalmon;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    color:lightsalmon;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5em;
    font-size: 16px;
    padding-left: 20px;
}
a{
    text-decoration: none;
}
li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding-left: 20px;
}
.contact{
    width: 25%;
    margin: 20px;
    padding:10px;
    border-bottom: lightblue 3px solid;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    text-align: center;
    margin: 20px;
    padding:10px;
}

.education{
    box-sizing: border-box;
    min-height: 100%;
    width: 35%;
    border-right: lightblue 5px solid;
}

.add{
    box-sizing: border-box;
    min-height: 100%;
    width: 35%;
    border-right: lightblue 5px solid;
}

.cert{
    box-sizing: border-box;
    min-height: 100%;
    width: 35%;
    border-right: lightblue 5px solid;
}


.experience-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-bottom: lightblue 3px solid;
    margin: 20px;
    padding: 10px;
}
.experience-date{
    box-sizing: border-box;
    min-height: 100%;
    width: 35%;
}
.experience{
    box-sizing: border-box;
    min-height: 100%;
    width: 35%;
}
.experience p{
    width:75ch;
}

.ref-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    padding: 10px;
}
.refs{
    box-sizing: border-box;
    min-height: 100%;
    width: 80%;
    border-bottom: lightblue  3px solid;
    margin: 20px;
    padding: 10px;
}

