html{
	--ink: #474646;
	--light-ink: hsl(0, 1%, 56%);
	--paper: #ffffff;
	--paper-dark: rgb(77, 103, 108);
	--highlight: #f16615;

	--primary-font: 'Kanit', serif;
	--secondary-font: 'Fira Sans Condensed', sans-serif;
}