html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
} /* https://www.paulirish.com/2012/box-sizing-border-box-ftw */

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: var(--highlight);
	text-decoration: underline;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	object-fit: cover;
	width: 100%;
	height: 100%;
}


svg {
  display: block;
  width: 100%;
}

inner-column, .inner-column {
	display: block;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	/* overflow: hidden; */
}