@import "meyers-reset.css";
@import "settings.css";
@import "setup.css";
@import "components.css";
@import "structure.css";
@import "font.css";
@import "pages.css";
@import "modules.css";

body {
	background-color: #393D3F;
	color: whitesmoke;
}

p+p{
	margin-top: 5px;
}

section + section{
	margin-top: 20px;
}

.sticky-nav{
	position: sticky;
	top: 0;
	opacity: 1;
	x-index: 30;
}
/*home specific*/
.about-container{
		display: flex;
		flex-direction: row;
		align-items: center;
}

@media(max-width:900px){
	.me-img{
		display: none;
	}

}
    

/* field specific */

.field {
	display: flex;
	flex-direction: column;
}

input {
	max-width: 400px;
	margin-top: 10px;
	height:  30px;
}

textarea {
	max-width: 400px;
	min-height: 200px;
	margin-top: 10px;
}

button {
	margin-top: 20px;
	padding: 10px;
}







