
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	scroll-behavior: smooth;

	/* background-image: linear-gradient(to left, rgba(12,24,38,1), rgba(255,255,255,0)); */
}
/* body *{
	border: black 1px solid;
} */

main {
	flex-grow: 1;
}

picture {
    display: block;
}

img {
	display: block;
	width: 100%;
	height:auto;
}



nav a {
	text-decoration: none;
	color: rgb(237, 237, 237);
}

footer {
	display: inline-block;
	text-decoration: none;
	color: var(--paper);
	background-color: var(--ink);
	padding: 20px 0px;
	margin-top: 40px;
}


