

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	/* background-image: linear-gradient(to left, rgba(12,24,38,1), rgba(255,255,255,0)); */
}
/* body *{
	border: black 1px solid;
} */

main {
	flex-grow: 1;
}

.inner-column {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	/* border: black solid 3px; */
}

picture {
    display: block;
}

img {
	display: block;
	width: 100%;
	height:auto;
}

nav li {
	display: inline-block;
	color: black;
}

nav a {
	text-decoration: none;
	color: rgb(237, 237, 237);
}

footer li {
	display: inline-block;
	text-decoration: none;
	color: var(--ink);
}

footer a {
	text-decoration: none;
	color: black;
}

