
.timberland.bordered :not(.inner-column, resizer, timberland-container, image-grid, ul) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.timberland.bordered img {
	opacity: 0;
}

.timberland {
	background-color: white;
}

timberland-container {
	display: grid;
	grid-template-columns: 1fr;

}

timberland-container text-content{
	display: grid;
	color: black;
}

timberland-container ul { 
	display: grid;
	gap: 10px;
	grid-template-areas:    
		"girl	girl	moody"
		"girl	girl	boots"
		"girl	girl	legs"
		"text	text	text"
	;
}

timberland-container li:nth-of-type(1) { 
	grid-area: girl;
}

timberland-container li:nth-of-type(2) {
	grid-area: moody;
}

timberland-container li:nth-of-type(3) {
	grid-area: boots;
}

timberland-container li:nth-of-type(4) {
	grid-area: legs;
}
timberland-container li:nth-of-type(5) {
	grid-area: stairs;
}
timberland-container text-content {
	grid-area: text;
}

timberland-container picture {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

timberland-container img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

timberland-container .stairs {
	display: none;
}

timberland-container text-content a {
	border: transparent solid 1px;
	max-width: 140px;
	background-color: #cfb06e;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	color: black;

}

timberland-container text-content a:hover {
	background-color: black;
	border: #545e4f solid 1px;
	color: white;

}




@container (min-width:900px) {
	timberland-container ul { 
	display: block;
	display: grid;
	gap: 10px;
	grid-template-areas:    
		"girl	girl	moody	stairs"
		"girl	girl	boots	stairs"
		"girl	girl	legs	stairs"

	;
	}

	timberland-container .stairs {
		display: block;
	}

	image-grid {
	position: relative;
	}

	image-grid text-content {
		position: absolute;
		left: 20px;
		bottom: 50px;
		color: white;
		
	}

	image-grid text-content h2 {
		width: 25ch;
	}

	image-grid p{
		font-family: var(--primary-font);
		font-size: .9rem;
		font-weight: 500;
		width: 100ch;

	}
}










