

/* span{
	padding: 5px 12px;
	border: solid indigo 1px;
	border-radius: 100px;
} */

forms-container {
    display: block;

    & .field {
        display: flex;
        flex-direction: column;
        margin-top: 20px ;
    }
    
    & .field, label {
        margin-top: 10px;
    }

    & input {
        max-width: 200px;
        margin-top: 10px;
    }

    & input:focus {
        background-color: var(--highlight);
        color: var(--paper);
    }
    
    & button {
        max-width: 100px;
        margin-top: 20px;
        font-size: 16px;
    }


}

