starbucks-cta {
	display: block;
	color: white;
}

starbucks-cta .coffee {
	flex: 50%;
	padding: 0px;
}

starbucks-cta text-content {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: auto;
	margin-right: auto;
	padding: 2rem 3rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex:50%;
}

starbucks-cta p {
	margin-top: 20px;
	max-width: 45ch;
	text-align: center;
	font-size: 1.1rem;
	line-height: 1.4;
	opacity: 0.7;


}

starbucks-cta h2 {
	font-family: Arial, Helvetica,;
	text-align: center;
	font-size: 2rem;
	color: #d4d4d4;

}

starbucks-cta .coffee-button {
	margin-top: 30px;
	color: #d4d4d4;
	border: solid  #d4d4d4 1px;
	border-radius: 10px;
	padding: 10px 15px 10px 15px;
	text-align: center;
}

.starbucks starbucks-cta{
	background: rgb(45,52,54);
	background: linear-gradient(93deg, rgba(45,52,54,1) 50%, rgba(0,0,0,1) 99%);
}

starbucks-cta .coffee-button:hover {
	background-color: #9c591e;
}

.starbucks.flip starbucks-cta {
	background: rgb(156,89,30);
	background: linear-gradient(93deg, rgba(156,89,30,1) 50%, rgba(0,0,0,1) 99%);
}
.starbucks.flip .coffee-button:hover {
	background-color:  #563d2d;
	
}

.starbucks.pumpkin starbucks-cta {
	background: rgb(156,89,30);
	background: linear-gradient(93deg, rgba(156,89,30,1) 50%, rgba(0,0,0,1) 99%);
}

.starbucks.pumpkin .coffee-button:hover {
	background-color: #563d2d;
}

.starbucks img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* aspect-ratio: 1/.85; */

}

.starbucks picture {
	object-fit: cover;
	width: 100%;
	height: 100%;
	overflow: hidden;
	

}

.starbucks.flip img {
	content: url("../../assets/beer-bottles.png");
}

.starbucks.pumpkin img {
	content: url("../../assets/beer-line.png");
}



@container (min-width:850px) {
	starbucks-cta {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.starbucks.iced starbucks-cta {
		flex-direction: row-reverse;
	}
}
@container (min-width:1000px) {
	starbucks-cta {
		display: flex;
		flex-direction: row;
	}
}








