
mast-head {
	display: block;
/*	border: 4px solid blue;*/
}
.sticky-nav inner-column{
	max-width: 1400px;
	
}

mast-head .logo {
	max-width: 120px;
}


mast-head .logo * {
	fill: var(--ink);
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

mast-head nav .home {
	padding: 9px 0;
}

.sticky-nav{
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 20;
	filter: drop-shadow(1px 0px 4px dimgray);
}

.site-menu mast-head a:not(.home){
	border-bottom: solid black 1px;
}

.site-menu a:not(.home):hover {
	
	text-decoration: underline;

	
}




mast-head nav a:not(.home) {
	padding: .1em 1em;
	text-transform: capitalize;
}

@media (min-width:  600px) {
	mast-head {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}
