.layout-intro {
	padding: 50px 0px 100px 0px;
}

.case-study-content {
    display: none;
}

.layout-intro .layout-links {
    margin-top: 2em;
}

.layouts {
    padding: 60px 0px 0px 0px;
}

.layouts.bordered * {
    border: dashed black 1px;
}

.case-study {
    margin-top: 200px;
    padding: 20px 0px 20px 0px;
}

.code-example {
	margin-top: 2em;
}

.case-study-container {
    margin-top: 20px;
}

.case-study-container button {
    margin-top: 15px;
}

.case-study-content {
    margin-top: 1em;
}

.layout-controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.layout-controls label,
.layout-controls input {
    display: none;
}

/* class tat controls js artificial screen size */
.screen {
    container-type: inline-size;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .starbucks-container {
    container-type: inline-size;
    width: 100%;
  }


@media (min-width: 600px) {
    .layout-controls {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .layout-controls label,
    .layout-controls input {
        display: block;
    }

    .layout-intro .layout-links {
        margin-top: .4em;
    }

    .layout-intro-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 50px;
    }

}