/* .product * {
    border: black solid 1px;
} */

.product .inner-column {
    padding: 0;
}

.product module {
    display: grid;
}

.product .product-card {
    display: grid;
}

.product module .product-calm-voice {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .05rem;
    color: #706f6f;
}

.product module .product-button-voice {
    font-size: 1.3rem;
    font-weight: 500;
}




/* transitioning two images in a grid ontop of eachother */
.product module .product-picture img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
}

.product module .thumbnail {
    display: grid;
    grid-template-areas: "layer";
}

.product module .thumbnail :is(.pic-1, .pic-2) {
    grid-area: layer;
}

.product module .thumbnail.pic-2 {
    opacity: 1;
    
}

.product module .thumbnail:hover .pic-2{
    opacity: 0;
    transition: 0.3s;
}

/* end of transition */

.product module color-picker {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    
}

.product module .color-select {
    max-width: 25px;
    border-radius: 90px;
}

.product module .product-name {
    margin-top: 10px;
    min-height: 50px;
}


.product module rating {
    display: block;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;

}

.product module rating picture {
    max-width: 20px;
}

.product module ul {
    display: flex;
    flex-direction: row;
    gap: 10px;
}





.product module .add-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
   align-self: end;
    border: solid black 1px;
}

.product module .add-button:hover {
   background-color: #706f6f;
   color: rgb(228, 228, 228);
   transition: ease-in-out .4s ;
}

.product module {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 60px;
    grid-auto-flow: row;
    padding: 0 20px;
}

@container (min-width: 728px){
    .product module .product-calm-voice {
        letter-spacing: .09rem;
    }

}

@container (min-width: 779px){
     .product module .product-calm-voice {
        letter-spacing: .05rem;
    }

}

@container (min-width: 820px){
    .product module {
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@container (min-width: 1050px) {
    .product module {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        padding: 0;
    }

}







