.plink{
    /* * {
        border: solid black 1px;
    } */

    cursor: url(//drinkplink.com/cdn/shop/t/28/assets/plink-cursor.svg?v=4305050…), auto;

    & plink-container {
        display: flex;
        flex-direction: column-reverse;

        
    }

    & text-content {
        display: block;

        & h2 {
            color: #f26178;
            font-size: 6rem;
            font-family: 'Kanit', serif;
            text-transform: capitalize;

            & span {
                display: block;
            }

            & span:nth-of-type(1) {
                font-weight: 600;
                font-style: oblique;
            }

            & span:nth-of-type(2) {
                font-weight: 500;
                font-family: Arial, Helvetica, sans-serif;
                
            }
        }

        & h3, ul {
            color: #ebbc00;
            margin-top: 20px;
        }

        & li {
            position: relative; /* Position relative to enable positioning of ::before pseudo-element */
        }
        
        & li::before {
            content: '\2022'; /* Unicode character for bullet (•) */
            color: #ebbc00; /* Color of the custom bullet */
            font-size: .9em; /* Adjust the size of the bullet */
            margin-right: 5px; /* Adjust spacing between bullet and list item */
            vertical-align: top; /* Align bullet vertically */
        }

        & li + li {
            margin-top: 10px;
        }

        & a {
            position: relative;
            margin-top: 20px;
            color: #996eff;
            cursor: url(//drinkplink.com/cdn/shop/t/28/assets/plink-cursor-pointer.svg?v=1609441…), pointer;
            width: max-content;
        }

        & a span:nth-of-type(3){
            font-weight: 700;
        }

        & a::after {
            content: "";
            background-color: #996eff;
            bottom: 0;
            height: 2px;
            left: 0;
            position: absolute;
            transition: transform .7s cubic-bezier( 0.43,1.06, 0.66, 0.99);
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }

        @media(hover: hover) {
            & a:hover::after {
                transform:scaleX(1);
                transform-origin: left center
            }
        }
    }


    @container(min-width: 600px) {
        & plink-container {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }

    

    

    }

}