.plink {
    cursor: url(//drinkplink.com/cdn/shop/t/28/assets/plink-cursor.svg?v=4305050…), auto;

    & plink-container {
        display: flex;
        flex-direction: column-reverse;
    }



    & text-content {
        display: block;

        & h2 {
            color: #f26178;
            font-size: 7rem;
            text-transform: capitalize;
            position: relative;

            & .droplet-one {
                position: absolute;
                top: 0;
                right: 40px;
                width: 80px; /* Adjusted width value */
            }

            & span {
                display: block;
            }

            & span:nth-of-type(1) {
                font-family: 'Kanit', serif;
                font-weight: 400;
            }

            & span:nth-of-type(2) {
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 700;
            }
        }

        & h3, ul {
            color: #ebbc00;
            margin-top: 20px;
        }

        & ul {
            position: relative;

            & .droplet-two {
                position: absolute;
                /* top isn't working */
                top: 16px;
                right:100px;
                width: 50px;
            }
        }

        & li {
            position: relative; /* Position relative to enable positioning of ::before pseudo-element */
        }
        
        & li:not(:nth-of-type(5), picture)::before {
            content: '\2022'; /* Unicode character for bullet (•) */
            color: #ebbc00; 
            font-size: .9em; 
            margin-right: 5px; 
            vertical-align: top; 
        }

        & li + li {
            margin-top: 10px;
        }

        & a {
            position: relative;
            margin-top: 20px;
            color: #996eff;
            cursor: url(//drinkplink.com/cdn/shop/t/28/assets/plink-cursor-pointer.svg?v=1609441…), pointer;
            width: max-content;
            text-transform: capitalize;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4.5px;
        }

        & .icon-right-arrow-complete use {
            transform: translateY(8px) scale(0.7);
        }

        & a span:nth-of-type(3){
            font-weight: 700;
        }

        & a::after {
            content: "";
            background-color: #996eff;
            bottom: 0;
            height: 2px;
            left: 0;
            position: absolute;
            transition: transform .7s cubic-bezier( 0.43,1.06, 0.66, 0.99);
            width: 100%;
            transform: scaleX(0);
            transform-origin: right center;
        }

        @media(hover: hover) {
            & a:hover::after {
                transform: scaleX(1);
                transform-origin: left center;
            }
        }
    }

    @container(min-width: 397px) {
        & plink-container {
            
            flex-direction: row-reverse;
            gap: 30px;
        }

        & text-content {
            & ul {
                & .droplet-two {
                    top: 80px;
                    right: 0px;
                    width: 50px;
                }
            
                & .droplet-one{
                    top: 500px;
                    right: 0px;
                    width: 600px;
            }
        }
    }
}

    @container(min-width: 600px) {
        & picture {
            margin-top: initial;
        }

        @container(min-width: 900px) {
            & plink-container {
                flex-direction: row;
                gap: 45px;
            }

            & text-content {
                & ul {
                    & .droplet-two {
                        display: block; /* should I do this? with both bubbles? Seems lazy. */
                        position: absolute;
                        top: 60px;
                        right: 200px;
                        width: 50px;
                    }

                    & h2 {
                        & .droplet-one {
                            position: absolute;
                            top: 0;
                            left: 45px;
                            width: 80px; /* Adjusted width value */
                        }
                    

                }
                
            }
        }
    }
}
}