
@import 'meyers-reset.css';


/*web skeleton*/

*{
    box-sizing: border-box;
}

body{
    background-color: white;
    min-height: 100vh;
}

.inner-column{
    margin-right: auto;
    margin-left:auto;
    max-width:900px;
    padding: 20px;

}
section{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efdfcb;
}
picture{
    display:block;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}




/*type*/
h1 h2 h3{
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
    letter-spacing: .1rem;

}
 
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p, a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    max-width: 75ch;
    line-height:normal;
    letter-spacing: .1rem;
}

p + header{
    margin-top: 20px;
}

h1 + p{
    margin-top:10px;
}
h2 + p{
    margin-top:10px;
}
h3 + p{
    margin-top:10px;
}

p + p{
    padding-top: 5px;
}

ol,ul{
    padding-top: 10px;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    max-width: 75ch;
    line-height:normal;
    padding-bottom: 5px;
}











/*details*/

/*heading details*/
header{
    position: sticky;
    top: 0;
    opacity: .9;
    background-color: white;
    z-index: 20;
}

mining-logo{
    display: block;
}

mining-logo{
    display:flex;
    flex-direction: row;
    align-items:center;
    gap:20px;

}
.logo{
    max-width:50px;
    border-radius: 50%;
    overflow: hidden;
}

/*hero section details*/

.hero{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.hero-section{
    position:relative;
    overflow: hidden;
    background-color: #baa898;
}


.cog{
    max-width:200px;
    position: absolute;
    bottom: -40px;
    left: -80px;
    display: none;
}

.cloud{
    max-width: 200px;
    position: absolute;
    bottom: -40px;
    right: -20px;
    display: none;

}


/*materials section details*/
.materials{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.materials .material-images{
    max-width: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.materials-section{
    position: relative;
    overflow: hidden;
}
.material-cards a{
    padding:5px;
    border-radius: 10px;
    background-color: #baa898;
    color: white;
    display: inline-block;

}

.cog-right{
    max-width:200px;
    position: absolute;
    bottom: -40px;
    right: -80px;
    display: none;

}



/*footer details*/

footer{
    position: bottom;
    bottom:0;
    width: 100%;
    padding: 10px;
}
ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

li a{
    padding:5px;
    border-radius: 10px;
    background-color: #baa898;
    color: white;
    display: block;
}







/*screen size 2*/
@media (min-width:600px){
    .hero{
        flex-direction: row;
        align-items: center;
    }

    .hero-image, .hero-text{
        width: 50%;
    }

    .materials{
        display: flex;
        flex-direction: column;
    }

    .materials .material-cards{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .materials .material-images{
        max-width: 200px;
    }
    .material-cards a{
        padding:5px;
        border-radius: 10px;
        background-color: #baa898;
        color: white;
        display: inline-block;
    }

    .cog-right{
        display: block;
        max-width: 150px;
    }


}

/*screen size 3*/
@media (min-width:900px){
    .hero{
        justify-content: center;

    }

    .materials{
        flex-direction: row;
        justify-content: center;


    }

    .materials .material-cards{
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }

    .hero-image{
        width: 900px;
    }

    .cog{
        display: block;
        max-width:200px;
    }

    .cloud{
        display: block;
        max-width: 250px;
    }

    .cog-right{
        display: block;
        max-width: 200px;
    }

    .material-cards a{
        padding:5px;
        border-radius: 10px;
        background-color: #baa898;
        color: white;
        display: block;
    }

}

@media(min-width: 1300px){
    .cog{
        display: block;
        max-width:300px;
    }

    .cloud{
        display: block;
        max-width:300px;
    }

    .cog-right{
        display: block;
        max-width: 300px;
    }

}

