
.decimal.bordered :not(.inner-column, resizer, decimal-wrapper, ul, li, a) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.decimal.bordered img {
    opacity: 0;
}


.decimal {
    & decimal-wrapper{
        display: block;
    }

    & ul {
        display: flex;
        flex-direction: column;
        height: 500px;
    }

    & li {
        transition: width 0ms ease-in-out;
        
        max-width: 100%;
    }

    & li + li {
        margin-top: 40px;
    }

    & ul + ul {
        margin-top: 40px;
    }
    & picture {
        aspect-ratio: 16/9;
    }

    & li:hover h2 {
        color: #428297;
        text-decoration: underline;
    }




    @container (min-width: 700px) {
        & ul {
            flex-direction: row;
            /* display: grid;
            grid-template-columns: 1fr 1fr; */
        }

        & ul + ul {
            margin-top: 100px;
        }

        & li {
            max-width: 63%;
            width: 50%;
        }

        & li + li {
            margin-top: 0px;
        }
    }

}