
.decimal.bordered :not(.inner-column, resizer, decimal-wrapper, ul, li, a) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.decimal.bordered img {
    opacity: 0;
}


.decimal {
    & decimal-wrapper{
        display: block;
    }

    & ul {
        display: flex;
        flex-direction: column;
  
 
    }

    & ul + ul {
        margin-top: 100px;
    }

    & li {
        transition: width 0ms ease-in-out;
        max-width: 65%;
        width: 50%;
    }
    & picture {
        aspect-ratio: 16/9;
    }




    @container (min-width: 600px) {
        & ul {
            flex-direction: row;
            /* display: grid;
            grid-template-columns: 1fr 1fr; */
        }
    }

}