


.blog-card p{
    max-width: 300px;
}
.blog-card{
    background-color: var(--highlight);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    min-height: 400px;
    max-height: 400px;


}