.game-spot.bordered :not(.inner-column, resizer, .gamespot-container, a) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.game-spot.bordered img {
    opacity: 0;
}


.gamespot-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    row-gap: 10px;
}

.gamespot-container .large-card {
    grid-column: span 2;
}

/* .gamespot-container picture {
    height: 100%;
    max-width: 100%;
} */

.gamespot-container .small-card{
    display: grid;
    gap: 20px;
    row-gap: 10px;
}

.gamespot-container .small-card:hover .small-text{
    color: red;
}

.gamespot-container .large-card:hover .large-text {
    color: red;
}

.gamespot-container .large-text, .small-text {
    margin-top: 10px;
    margin-bottom: 15px;
}

.gamespot-container picture {
    aspect-ratio: 16/9
}
.gamespot-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.gamespot-container .small-card p {
    display: none;
}

@container (min-width: 600px) {

    .gamespot-container .large-text {
        background-color: rgba(122, 122, 122, 0.68);    /* full opaque green */ 
        color: var(--paper);
        width: 100%;
        padding: 10px;
        background: linear-gradient(rgba(122, 122, 122, 0.1), rgba(71, 71, 71, 0.9));
     }

     .gamespot-container .large-text {
        margin-bottom: 0px;
    }

     .gamespot-container .large-text p {
        display: none;
 
     }

     .gamespot-container .large-text:hover p{
            display: block;
     }

     .gamespot-container .large-card:hover .large-text p{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
     }

     .gamespot-container .large-card:hover .large-text {
        color: var(--paper);
    }

    .gamespot-container .large-card {
        position: relative;
        
    }

    .gamespot-container .large-text {
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

@container (min-width: 800px) {
    .gamespot-container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }

    .gamespot-container .small-card {
        grid-column: span 1;
    }

    

}

@container (min-width: 1000px) {
    .gamespot-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 20px;
        row-gap: 20px;
    }

    .gamespot-container article:nth-of-type(1) {
        grid-column: 1/9;
      
    }

    .gamespot-container article:nth-of-type(2) {
        grid-column: 9/13;
   
        
    }
    
    /* Do NOT delete this display:grid or anything pertaining to the large card below. It's the only thing keeping the second card in the grid stable and height 100% on large screen*/

    .gamespot-container .large-card {
        display: grid;
        height: 100%;
        grid-column: span 1;
    }

    .gamespot-container .large-card div:nth-of-type(1){
        height: 100%;
    }

    .gamespot-container .large-card picture {
        aspect-ratio: unset;
        height: 100%;
    }

    .gamespot-container .small-card {
        grid-column: span 3;
    }

    .gamespot-container .large-text, .small-text {
        margin-top: 10px;
        margin-bottom: 0px;
    }
}
