.box.bordered :not(.inner-column) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.box.bordered img {
    opacity: 0;
}

.box.bordered canvas {
    opacity: 0;
}

.box {

    width: 100%;

    

    & canvas {
    display: block;
    width: 100%;
    max-width: 100%;
    }
}