
call-to-action {
	display: block;
	/*border: 4px solid orange;*/

	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 15vh 0;
}

call-to-action .button {
	margin-top: 60px;
	max-width: 200px;

}

.sign-up p{
	color: dimgray;
}

.get-involved call-to-action{
	background-color: #95e5e3;

}

.get-involved call-to-action p{
	color: dimgray;
}

.get-involved call-to-action a.button{
	background-color: white;
	color: black;
}

.get-involved call-to-action a.button:hover{
	background-color: #95e5e3;
}

.get-involved {
	background-color: #95e5e3;
}




