cool-girls {
    display: block;
}
.cool-girls cool-girls .main-grid {
    display: grid;
    grid-template-areas:
    "main main"
    "hoodie shirt"
    "jewels hat"
    ;
    gap: 2px;
}

cool-girls .grey-hover:hover {
    opacity: .95;
}

.main {
    grid-area: main;
    position: relative;
}

.hoodie {
    grid-area: hoodie;
    position: relative;
}

.hat {
    grid-area: hat;
    position: relative;
}

.jewels {
    grid-area: jewels;
    position: relative;
}
.shirt {
    grid-area: shirt;
    position: relative;
}

.cool-girls cool-girls .main-grid .product-link{
    position: absolute;
    bottom: 5px;
    right: 0px;
    color: #eae4df;
    background-color: #3d3c3b;
    opacity: .75;
    padding: 0 9px 0 25px;
    min-width: 150px;
    border: solid  #eae4df 1px;
    text-align: right;

    border-radius: 0 10px ;
}

.cool-girls cool-girls .main-grid .product-link:hover{
    opacity: 1;
    color: #5ac2d2;
    
}

.cool-girls cool-girls .main-grid .main-link{
    position: absolute;
    top: 50px;
    left: 10px;
    opacity: .98;
    color:  #eae4df;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: grey;
    /* background-color: black;
    padding: 0 9px 0 25px; */
}

.cool-girls cool-girls a {
    display: inline;
}

/* .cool-girls cool-girls .sub-grid {
    display: grid;
    
    grid-template-areas:
    "title title hoodie-text shirt-text"
    "title title jewels-text hat-text"
    ;
    gap: 2px;
    color: red;
}

.title {
    grid-area: title;
}

.hoodie-link {
    grid-area: hoodie-text;
}

.hat-link {
    grid-area: hat-text;
}

.jewels-link {
    grid-area: jewels-text;
}
.shirt-link {
    grid-area: shirt-text
} */

@container(min-width: 800px) {
    .cool-girls cool-girls .main-grid {
        grid-template-areas:
        "main main hoodie shirt"
        "main main jewels hat"
        ;
    }
    

}

picture {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

