.shell {

    & li {
        position: relative;
    }

    & .card-link {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        z-index: 20;
    }

    & li:nth-of-type(2) {
        position: relative;
        & picture {
            border-radius: 20px;
            
        }

        & .shell-text {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            width: 100%;
            height: 40%;
            border-radius: 0 0 20px 20px;
            padding: 10px;
        }
    }

    & .upper-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;

        & a {
            margin-top: 20px;
            text-decoration: underline;
        }

        & li:nth-of-type(1) {
            border-radius: 20px;
            
            & picture {
                border-radius: 20px 20px 0 0;
            }
            

            & .shell-text {
                padding: 10px;
            }
        }

       

        & li:nth-of-type(n + 3) {
            
            & article {
                display: grid;
                grid-template-columns: 1fr 1fr;
                
                gap: 20px;
                background-color: #f5f5f5;
                border-radius: 20px;

                & picture {
                    border-radius: 20px 0 0 20px;
                    aspect-ratio: 2/1;
                    width: 100%;
                }
                

                & .shell-text {
                    padding: 10px;
                }

                & p {
                    display: none;
                }

                & a {
                    display: none;
                }
            }

            &:hover .upper-cards {
                filter: drop-shadow(5px 5px 4px #9d9d9d);
                transform: translateY(-2px);
            }
        } 
    }

    & .lower-shell {
        background-color: #f5f5f5;
        margin-top: 15vh;
        padding: 20px;

        & .lower-grid {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;

            & li:nth-of-type(n + 1) {
                
                & article {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    /* rule is breaking images */
                    align-items: center;
                    gap: 20px;
                    background-color: #ffffff;
                    border-radius: 20px;
                   
                    & picture {
                        border-radius: 20px 0 0 20px;
                    }

                    
    
                    & .shell-text {
                        padding: 10px;
                        & p, a {
                            display: none;
                        }
                    }
                }

                &:hover .lower-cards {
                    /* position: absolute;
                    bottom: 1px; */
                    filter: drop-shadow(5px 5px 4px #9d9d9d);
                    transform: translateY(-2px);
                } 
            }
        }
    }

    @container (min-width: 700px) {
        & .upper-grid {
            grid-template-columns: 1fr 1fr;
            & li:nth-of-type(2) {
                & .shell-text {
                    height: 60%;
                    border-radius: 0 0 20px 20px;
                }
            }

            & li:nth-of-type(n + 3) {
                border-radius: 20px;

                & article {
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                    gap: 20px;
                    background-color: #f5f5f5;
                    border-radius: 20px;
                    /* this height is messing up the images */
                    height: 100%;

                    & picture {
                        border-radius: 20px;
                        border-radius: 20px 20px 0 0;
                    }

               
                    
                    & .shell-text {
                        & p {
                            display: block;
                        }
                    }
                    
                }   
            }
        }
        & .lower-shell .lower-grid {
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            

            & li:nth-of-type(n + 1) {
                & article {
                    /* This is messing up your images */
                    grid-template-columns: 1fr;
                    grid-template-rows: auto 1fr;
                    height: 100%;
                    border-radius: 20px;
                    align-items: initial;

                    & picture {
                        border-radius: 20px 20px 0 0;
                    }

                    & .shell-text {

                        & p {
                            display: block;
                        }

                    }
                    
                }
            }
            
        }
        
    }

    @container(min-width: 1000px) {
        & .upper-grid {
            grid-template-columns: repeat(12, 1fr);
            /* Without all these height 100s the first card is never as tall as it should be */
            & li:nth-of-type(1) {
                grid-column: span 8;
                position: relative;
                border-radius: 20px;

                & article {
                    height: 100%;
                    & picture {
                        border-radius: 20px 20px 20px 20px;
                    }

                    & .shell-text {
                        position: absolute;
                        bottom: 20%;
                        left: 5%;
                        background-color: rgba(0, 0, 0, 0.5);
                        color: white;
                        max-height: 100%;
                        max-width: 40%;
                        border-radius: 20px;
                        padding: 10px;
                    }
                }


                    
                }

                & li:nth-of-type(2) {
                    grid-column: span 4;
    
                    & .shell-text {
                        height: 70%;
                    }
                }
    
                & li:nth-of-type(n + 3) {
                    grid-column: span 4;
                }
            }

            
        

        & .lower-shell .lower-grid {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}