
    
.experience h3{
    color: var(--highlight);
    margin-top: 20px;
}

.xp-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: white 3px solid;
}

.add {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;

}


.refs {
    border-bottom: #d4b644  3px solid;
}