main-resume {
    display: block;
}

page-wrapper {
    display: grid;
}


aside {
    display: none;
}

detail-wrapper {
    display: block;
}

job-detail {
    display: block;
    margin-top: 20px;
}

contact {
    display: block;
}

skills {
    display: block;
}

education {
    display: block;
}

.resume-title {
	padding: 50px 0px 40px 0px;
}

.resume-title ul {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 20px;
    color: var(--highlight);
}

.resume-title a:hover {
    color: var(--ink);
    text-decoration: underline;
}


.experience ul {
    margin-top: 20px;
    display: block;
    list-style-type: circle;
    padding-left: 15px;
}

h3 {
    color: var(--highlight);
}

li + li {
    margin-top: 10px;
}

@media (min-width: 700px) {
    page-wrapper {
        display: grid;
        grid-template-columns: 65% 35%;
        gap: 40px;
        
    
    }

    aside {
        display: grid;
        gap: 20px;
        padding: 50px 0px 0px 0px;
    }

    detail-wrapper {
        display: grid;
        gap: 20px;
        position: sticky;
        top: 80px;
        left: 0;
        height: max-content;
    }
}