
header {
	padding: 10px;
	background-color: darkorchid;
	border-bottom: 1px solid gray;
	position: sticky;
	top: 0;
}

main {
	padding: 10px;
	border: 2px solid black;
	min-height: 200px;
	height: 100vh;
	background-color: white;
}
inner-column{
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    display: block;

}

h1{
	font-size: 50px;
}
.sign-in-block {
	display: flex;
	flex-direction: column;
	align-items: center;
}
form.sign-in {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	min-width: 400px;

}
.sign-in button{
	font-size: 3.5em;
}
.sign-in button:hover{
	background-color: blueviolet;
	color: white;
}

form.tables {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	max-width: 400px;
	
}

.tables-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}
form.tables {
	display: flex;
	flex-direction: row;
	min-width: 400px;
	flex-wrap: wrap;

}
.tables button{
	font-size: 3.5em;
}
.tables button:hover{
	background-color: blueviolet;
	color: white;
}


.menu button{
	font-size: 3.5em;
	min-width: 200px;
}
.menu button:hover{
	background-color: blueviolet;
	color: white;
}


.courses {
	display: flex;
	flex-direction: column;
}




.menu button {
	width: 100px;
	font-size: 20px;
}