.video-cta.bordered :not(.inner-column, resizer, video-cta){
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.video-cta.bordered video {
    opacity: 0;
}

.video-cta video-cta {
    display: block;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
}

.video-cta .lay-loud-voice{
    line-height: 1.2em;
    
}


.video-cta video-cta video-container {
    display: block;
    display: flex;
    flex-direction: column;
    position: relative;
}
.video-cta video-cta video-states {
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    gap: 150px;
    padding: 10px;
    bottom: 0;
}

.video-cta video-cta video-states button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50%;
    border: none;
    padding: 5px;
}

.video-cta video-cta video {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-play {
    transform: translateX( 2px )
}

.icon-volume-off {
    transform: translateX( -1px )
}

.video-cta video-cta text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.video-cta video-cta text-content a{
    border: 1px solid grey;
    padding: 15px 30px;
    border-radius: 30px;
    max-width: fit-content;
    margin-top: 40px;;
}

.video-cta video-cta text-content a:hover{
   background-color: var(--ink);
   background-color: #d34743;
   color: var(--paper);
   border-radius: 40px;

}

@container (max-width: 600px) {
   
    .video-cta video-cta {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}