.affinity-card img{
	max-width: 400px;
}

@media (min-width:600px){
	.affinity-showcase{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 10px;
		flex-wrap: wrap;
		text-align: center;
	}
}


