.android *{
    /* border: solid 1px blue; */
    & .top-section {
        position: relative;

        & hero-img {
            display: block;
            position: relative;
            overflow: hidden;
            border-radius: 20px;
            background-image: url('../../assets/android-main-lady-small.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center ;
            height: 100%;
            width: 100%;
            min-height: 990px;
        }

        & hero-grid {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(4, 1fr);
            position: absolute;
            bottom: 5%;
            right: 0;
            & .title {
                display: block;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                grid-column: 1/-1;
                grid-row: 1/2;
                color: white;

                & a {
                    padding: 10px;
                    background-color: white;
                    color: black;
                    border-radius: 20px;
                    
                }
            }


        }

        & forground-card {
            display: block;
            overflow: hidden;
            border-radius: 20px;
            grid-column: 2/12;
            grid-row: 2/-1;
            min-height: 400px;

            & picture {
                height: 100%;
                aspect-ratio: 16/9;
                
            }

            
        }

        & text-content {
            display: block;
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: white;
            padding: 10px;
            grid-column: 2/12;
            grid-row: 1/2;
        }
    }

    & .lower-section{
        & .lower-section-title {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 20px;

            & a {
                display: flex;
                flex-direction: row;
                align-items: center;
            }
        }

        & .icon-right-arrow {
            aspect-ratio: 1/1;
            height: 20px;
            & use {
                color: lightgreen;
            }
        }

        & .grid-wrapper-bottom {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
            margin-top: 50px;
        }

        & .icon-plus {
            aspect-ratio: 1/1;
        }

        & a {
            padding: 15px;
            max-width: 300px;
            background-color: black;
            color: white;
            border-radius: 20px;
            text-align: center;
        }

        & article {
            overflow: hidden;
            border-radius: 20px;
            position: relative;
            & h2 {
                position: absolute;
                bottom: 5%;
                opacity: 1;
                z-index: 20;
                color: white;
                padding: 10px;
            }

            & a {
                position: absolute;
                top: 5%;
                right: 10%;
                opacity: .5;
                z-index: 20;
                padding: 10px;
                background-color: white;
                color: black;
                border: solid 1px black;
                border-radius: 50%;
                
            }

        }


    }

    @container (min-width: 600px) {
        & .lower-section .grid-wrapper-bottom {
            grid-template-columns: 1fr 1fr;
        }

        & .top-section hero-img {
            background-image: url('../../assets/android-main-lady-middle.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }
    }

    @container (min-width: 700px) {


        & .top-section hero-img {
            background-image: url('../../assets/android-main-lady-middle.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }
    }

    @container (min-width: 800px) {
        & .top-section hero-img {
            background-image: url('../../assets/android-main-lady.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
        }
    }


    
}