
header {
	padding: 10px;
	border-bottom: 1px solid gray;
}

main {
	padding: 10px;
	border: 2px dashed red;
	min-height: 200px;
	background-color: aquamarine;
}

form.sign-in {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	max-width: 200px;
}

form.tables {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
	max-width: 400px;
	
}

inner-column{
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
    display: block;

}

.sign-in button{
	width: 200px;
	font-size: 40px;
}

.tables button{
	width:200px;
	font-size: 40px;
}

.menu button {
	width: 100px;
	font-size: 20px;
}