.mubasic.bordered :not(.inner-column, resizer, mubasic-wrapper, ul, header, footer) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.mubasic.bordered img {
    opacity: 0;
}



.mubasic {

    & mubasic-wrapper {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    & article {
        background-color: #f2c87d;
        padding: 20px;

        & h2 {
            margin-top: 10%;
            font-size: clamp(1.2rem, 3rem , 5rem);
        }

        & span {
            color: #e4803d;
        }
    }

    & header {
        display: flex;
        justify-content: space-between;

        & a {
            font-weight: 500;
            font-size: 1.2;
        }
    }

    & svg {
        max-width: 30px;
    }

    & aside {
        background-color: #1b1a19;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 0 40px 0;
   

        & ul {
            position: relative;
            display: flex;
            flex-direction: column;
            margin-left: 60px;
            gap:10px;
        }

        & li {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 120px;
            border-radius: 20px 0 0 20px;
            background-color: aqua;

            & p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: rgba(69, 69, 69, 0.69);
                color: azure;
                margin-left: 20px;
                max-width: 60px;
                padding: 20px;
                font-weight: 500;
                font-size: 1.4;
            }
        }

        & li:nth-of-type(1){
            
            background-color: #9cc2cd;
        }
        & li:nth-of-type(2){
            position: absolute;
            top:60px;
            width: 100%;
            margin-left: 150px;
            background-color: #0d0d0d;
            z-index: 10;
        }

        & li:nth-of-type(3){
            
            background-color: #f2c87d;
        }
        & li:nth-of-type(4){
            
            background-color: #f2e2c2;
        }
        

        & li:nth-of-type(5){
            position: absolute;
            top:320px;
            z-index: 10;
            width: 100%;
            margin-left: 150px;
            background-color: #0d0d0d;
        }

        & li:nth-of-type(6){
            
            background-color: #e4803d;
        }

        & li:nth-of-type(7){
            
            background-color: #bca9e2;
        }


        & li:hover {
            transform: translateX(15px);
        }
    }

    & footer {
        background-color: initial;
        margin-top: 0;
        color: var(--ink);
        & p {
        font-size: clamp(1rem, 1.1rem , 1.4rem);
        font-weight: 500;
        
        }
    }

    @container (min-width: 800px) {

        mubasic-wrapper {
            flex-direction: row;
        }

        & article {
            background-color: #f2c87d;
            height: 100vh;
            width: 50vw;

            & h2 {
                margin-top: 40%;
                
            }
        }

        & footer {
            margin-top: 20%;
            max-width: 200px;

        }

        & aside {
            background-color: #1b1a19;
            height: 100vh;
            width: 50vw;
        }


    }

}

    
