.atmosphere {
    .atmosphere-wrapper {
        display: grid;
    }
    & text-content {
        display: block;
    }
    
    @container (min-width: 600px) {
        & .atmosphere-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

}
