.atmosphere.bordered :not(.inner-column, resizer, .atmosphere-wrapper, .title-text, header, ul, div) {
    border: solid var(--highlight) .2px;
    background-color: var(--paper);
    color: var(--ink);
    background: none ;
    transition: 300ms ease-in-out;
    padding: 4px;
}

.atmosphere.bordered img {
    opacity: 0;
}

.atmosphere.bordered header {
    background-color: transparent;
}

.atmosphere {

    .atmosphere-wrapper {
        display: grid;
        gap: 40px;
    }

    .title-text h2 {
        color: #562915;
    }
    .title-text a {
        display: block;
        margin-top: 20px;
        max-width: 200px;
        padding: 20px;
        color: whitesmoke;
        background-color: #562915; 
    }

    .title-text a:hover {
        background-color: #7c3b1f; 
    }

    & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
    & header {
        background-color: white; 
    }

    & text-content {
        display: block;
        margin-top: 20;
        background-color: white;
        & header + p {
            margin-top: 20px;
        }
    }

    & header + ul {
        margin-top: 20px;
    }

    & picture + text-content {
        margin-top: 20px;
    }

    & li + li {
        margin-top: 10px;
    }


    & li::before {
        content: "- ";
        transition: all 150ms ease-in-out;
    }

    & li:hover::before {
        content: "- ";
        font-weight: 400;
    }
    
    @container (min-width: 650px) {
        & .atmosphere-wrapper {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-row-gap: 60px;
            grid-column-gap: 10px;
            
        }

        & .title-text{
            grid-column: span 2;

        }
        
        & article:nth-of-type(-n+4) {
            & header {
                padding: 20px;
                text-align: center;
                max-width: 100%;
            }
        }
        & article:nth-of-type(1) {
            & picture {
                
                width: 100%;
                height: 470px;
            }

            & text-content {
                position: relative;
            
         
            }
            & header {
                display: inline-block;
                position: absolute;
                bottom: 100%;
                left: 0;
                
                
             
            }
           
        }

        & article:nth-of-type(2) {
            margin-top: 60px;
            & picture {
                width: 100%;
                height: 660px;
                margin-right: auto;
            }

            & text-content {
                position: relative;
                
                
                margin-left: 100px;
            }
            & header {
                display: inline-block;
                position: absolute;
                bottom: 100%;
                left: 0;
         
                width: 100%;
       
            }
        } 

        

            & article:nth-of-type(3) {
                & picture {
                    width: 100%;
                    height: 445px;
                    
                }
    
                & text-content {
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 250px;
                   
                }

                & header {
                    display: inline-block;
                    position: absolute;
                    bottom: 100%;
                    left: 0;
                    
                    width: 100%;
           
                }
            } 

            & article:nth-of-type(4) {
                margin-top: 60px;
                & picture {
                    width: 100%;
                    height: 550px;
                    
                }
    
                & text-content {
                    position: relative;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 250px;
                   
                }

                & header {
                    position: absolute;
                    bottom: 100%;
                    
           
                }
            } 

            & article:nth-of-type(5) {
                grid-column: span 2;
                display: flex;
                align-items: center;
                gap: 40px;

                & picture {
                    width: 345px;
                    height: 470px; 
                }
    
                & text-content {
                    postion: relative;
                    margin-top: 0;
                    max-width: 60%;
                }
            } 

            & article:nth-of-type(6) {
                grid-column: span 2;
                display: flex;
                flex-direction: row-reverse;
                align-items: center;
                gap: 40px;
                
                & picture {
                    width: 600px;
                    height: 470px;
                    
                }
    
                & text-content {
                    postion: relative;
                    margin-top: 0;
                    max-width: 60%;
                }
            } 
        }

        @container (min-width: 900px) {
            & .atmosphere-wrapper {
                display: grid;
                grid-template-columns: repeat(12, 1fr);
                column-gap: 20px;
                row-gap: 60px;
                
            }
    
            & .title-text{
                grid-column: span 12;
    
            }
            
            & article:nth-of-type(-n+4) {
                margin-top: 0;

                & picture {
                    width: 100%;
                    height: 470px;
                    
                }

                & header {
                    position:static;
                    padding: 0;
                    text-align: left;
                }

                & text-content {
                    position: static;
                    max-width: 100%;
                   
                }
            }
            & article:nth-of-type(1) {
                grid-column: span 12;
                
                
               
            }
    
            & article:nth-of-type(2) {
                grid-column: span 4;
                
    
                & text-content {
                    margin-left: 0px;
                }
            } 
    
            
    
                & article:nth-of-type(3) {
                    grid-column: span 4;
                    
                } 
    
                & article:nth-of-type(4) {
                    grid-column: span 4;
                    
                    & picture {
                        width: 100%;
                        height: 470px;
                        
                    }
        
                    
                        
               
                    
                } 
    
                & article:nth-of-type(5) {
                    grid-column: span 12;
                    align-items: flex-start;
                    
                    & picture {
                        width: 100%;
                        height: 470px;
                        
                    }
                   
        
                    & text-content {
                        postion: static;
                        margin-top: 0;
                        max-width: 100%;
                    }
                } 
    
                & article:nth-of-type(6) {
                    grid-column: span 12;
                    align-items: flex-start;
                    
             
                    
                    & picture {
                        width: 100%;
                        height: 470px;
                        
                    }
        
                    & text-content {
                        postion: static;
                        max-width: 100%;
                    }
                } 

        }
    }
}



