
@import 'meyers-reset.css';

*{
    box-sizing: border-box;
    /*border: solid black 3px;*/
}

html{
    background-color: white;
}

body{
    background-color: white;
}
/*page layout*/
.inner-column{
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

main{
    background-color: white;
    padding-bottom: 90px;
}

section{
    margin-top: 20px;
}

nav{
    padding:10px;
    background-color: lightblue;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 0px 0px black;
}

nav a{
    display: inline-block;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: solid black 1px;
    border-radius: 30px;
    padding: 5px;
    margin-right: 20px;

}

picture{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 400px;
}

img{
    display: block;
    width: 100%;
    height:auto;
}


@media (min-width:700px){
    /*.back-img{
        background-image:url(https://images.unsplash.com/photo-1477468572316-36979010099d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8c25vd3klMjBtb3VudGFpbnN8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        max-width: 100%;
    }*/
 main{
        background-color: transparent;
    }
    .back-img-2{
        background-image:url(https://images.unsplash.com/photo-1559767180-47d8f4919e5d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2FuZCUyMGR1bmVzfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60);
        background-size: cover;
        background-position: center bottom;
        background-repeat: no-repeat;
        max-width: 100%;
        flex-grow: 1;
    }
    .inner-column{
        max-width: 70%;
    }
    .page-head{
        text-shadow: -2px 2px 0 black;
    }
    .contact-sect{
        color: white;
    }
}
.about-sect{
    background-color: lightseagreen;
}

form input{
    margin-left: 20px;
}

footer{
    background-color: black;
    padding: 10px;


}

footer a{
    display: inline-block;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    background-color: white;
    color: black;
    border: solid black 1px;
    border-radius: 30px;
    padding: 2px;
    margin-right: 20px;
}

/*typeography*/
h2 h2 h3{
    font-family: 'Courier New', Courier, monospace;
    padding-bottom: 20px;
    letter-spacing: .1rem;

}
h1, h2, h3, p, picture, form{
    padding-left: 20px;
} 
h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5rem;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    max-width: 75ch;
    line-height:normal;
    letter-spacing: .1rem;
}

p + header{
    margin-top: 20px;
}

p + p{
    padding-top: 5px;
}

ol,ul{
    padding-top: 10px;
}

li{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    max-width: 75ch;
    line-height:normal;
    padding-bottom: 5px;
}

table{
    display: block;
    border: solid black 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    max-width: 50ch;
    line-height: normal;
    background-color: yellow;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
tr{
    border: solid inherit 3px;
}

th{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    max-width:50ch;
    line-height: normal;
    text-align: center;
    background-color: salmon;
    border: solid transparent 3px;
    padding: 20px;
}

td{
    font-family: inherit;
    font-size: inherit;
    max-width: inherit;
    line-height: inherit;
    background-color: aqua;
    border: inherit;
    padding: 10px;
}





