html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/*end of reset*/

html{
    background-color: #B5E2FA;
    padding: 30px;
    }
    
    body{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        background-color: #F9F7F3;
    
    }
    
    nav{
        padding: 20px;
        background-color: #F7A072;
    
    }
    
    nav a{
        display: inline-block;
        text-decoration: none;
        color: black;
        border: #F9F7F3 solid 2px;
        padding: 10px;
        background-color: #EDDEA4;
        border-radius: 30px;
        margin-right: 10px;
    }

    nav a:hover{
        background-color: #B5E2FA;
        border: #0FA3B1 2px solid;
        border-radius: 30px;
    }

    nav a:active{
        background-color: #0FA3B1;
        color: #F9F7F3;
        border: #F9F7F3;
        border-radius: 30px;
    }

    h1{
        font-size: 5vw;
        text-align: center;
        padding: 20px 20px;
        letter-spacing: 20px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    h2{
        font-size: 2em;
        padding: 10px;
        letter-spacing: normal;
        line-height: 1.5em;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }

    p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        letter-spacing: normal;
        line-height: 1.5em;
        padding-left: 20px;
        padding top: 20px;
        max-width: 75ch;
    }

    picture{
        display: block;
        max-width: 400px;
        padding: 20px;
    }

    img{
    display: block;
    width: 100%;
    height:auto;
    }
    
    ul{
        padding: 20px;
    }

    li{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 14px;
        letter-spacing: normal;
        line-height: 1.5em;
        padding-left: 20px;
        padding top: 20px;
        max-width: 75ch;
    
    }

    iframe{
        display: block;
        width: 100%;
        max-width: 700px;
        height: 100%;
        min-height: 400px;
        align-content: center;
    }

    .logo{
        display: inline-block;
    }

    .logo img{
        display: inline-block;
        border-radius: 100px;
        width: 100%;
        height: auto;
        max-width: 100px;
    
    }
    
    .landing{
        background-image: url("https://dmn-dallas-news-prod.cdn.arcpublishing.com/resizer/0WcsRDzhQCI7gVJ7PRpOjkXoyM0=/1660x934/smart/filters:no_upscale()/cloudfront-us-east-1.images.arcpublishing.com/dmn/5A4NDCEEZBEL5PRBG66LUPNUXA.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 550px;
        padding-top: 20px;
        background-position: center;
    }

    .page-title{
        background-color: black;
        color:#F9F7F3;
        margin-right: 25%;
        margin-left: 25%;
        opacity: .8;
        border-radius: 30px;
    
    }

    .page-title p{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 2vw;
        text-align: center;
        letter-spacing: normal;
        line-height: 1.5em;
        padding: 0 20px 20px 20px;
        max-width: 75ch;
    }

    .row-control{
        display: flex;
        margin-top: 10px;

    }

    .blog-box1{
        box-sizing: border-box;
        background-color: #0FA3B1;
        min-height: fit-content;
        padding: 20px 20px 20px 20px;
    }

    .blog-box2{
        box-sizing: border-box;
        background-color: #EDDEA4;
        min-height: fit-content;
        padding: 20px 20px 20px 20px;
    }

    .blog-box3{
        box-sizing: border-box;
        background-color: #F7A072;
        min-height: fit-content;
        padding: 20px 20px 20px 20px;
    }
    .blog-box4{
        box-sizing: border-box;
        background-color: #0FA3B1;
        min-height: fit-content;
        padding: 20px 20px 20px 20px;
    }
    .blog-content{
        box-sizing: border-box;
        background-color: #F9F7F3;
        max-width: 100%;
        padding: 20px 20px 20px 20px;
        border-radius: 30px;
    }